/* General styles */
body {
	margin: 0;
	font-family: Arial, sans-serif;
}
.aboutpage {
	/* background-color: #b49f81; */
	backdrop-filter: blur(8px);
}
.route {
	color: #8d6d7ade;
	padding: 10px;
	margin-top: 50px;
	font-size: 19px;
	font-style: italic;
}
.route:hover {
	color: black;
}

.spaimage {
	width: 50%;
	margin: 50px auto;
	height: auto;
	display: flex;
}
.information {
	padding: 20px;
	max-width: 1200px;
	margin: auto;
	text-align: justify;
}

.information h1 {
	text-align: center;
}
.booking {
	width: 100%;
	background-color: #331029de;
	color: white;
	text-decoration: none;
}

.booking:hover {
	background-color: #773965de;
}
@media (min-width: 768px) {
	.spaimage {
		width: 50%;
		height: auto;
		margin-bottom: 50px;
		display: flex;
	}

	.information {
		width: 50%;
		margin-bottom: 16px;
	}
}

@media (min-width: 992px) {
	.information {
		padding: 0px;
	}
}
.information h1 {
	font-size: 2em;
	margin-bottom: 10px;
}

.information p {
	font-size: 1em;
	line-height: 1.6;
	margin-bottom: 15px;
}

.information ul {
	list-style-type: circle;
	margin-left: 170px;
	padding: 0px;
}

.information ul li {
	font-size: 1em;
	margin-right: 180px;
	margin-bottom: 10px;
}

@media (max-width: 480px) {
	/* .container {
		padding: 10px;
	} */

	.information h1 {
		padding: 10px;
	}

	.information p,
	.information ul li {
		font-size: 0.8em;
	}

	.text {
		font-size: 0.9em;
	}

	.button {
		font-size: 0.8em;
		padding: 8px 16px;
	}
}
/* Responsive styles */
@media (max-width: 768px) {
	.information {
		padding: 15px;
	}

	.information h1 {
		font-size: 1.5em;
	}

	.information p,
	.information ul li {
		font-size: 0.9em;
	}

	.text {
		font-size: 1em;
	}

	.button {
		font-size: 0.9em;
	}
}
