/************** service.css ****************/
.image {
	width: 100%;
	margin: 0 auto;
	height: auto;
	display: flex;
}
.service-container {
	margin: 100px auto;
	max-width: 75%;
}
.service-container h1 {
	text-decoration: none;
	color: black;
	font-size: 25px;
	margin-left: 0px;
	padding: 20px;
}

/* Card Styles */
.card-container {
	transition: transform 0.3s;
	margin: auto;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.card:hover {
	transform: scale(1.05);
}

.text-center {
	/* width: 10px; */
	border: none;
	margin: 0 auto;
}

.readme {
	margin-top: 25px;
	text-align: justify;
	text-decoration: none;
}
.readme a {
	color: black;
	text-decoration: none;
	font-weight: bold;
}

.readme a:hover {
	color: #331029de;
}

/* Responsive Styles */
@media (max-width: 767px) {
	.service-container {
		padding: 15px;
	}

	.card-container {
		margin-bottom: 20px;
	}

	.card-title {
		font-size: 1.1rem;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.card-container {
		margin-bottom: 30px;
	}

	.card-title {
		font-size: 1.2rem;
	}
}
