/* service.css */

.image {
	width: 75%;
	margin: 50px auto;
	height: auto;
	display: flex;
	margin-left: 50px;
}
.service-container {
	margin: 100px auto;
	max-width: 1400px;
	background-color: #331029de;
}
.text-center {
	/* width: 10px; */
	border: none;
	margin: 0 auto;
}
.booking {
	width: 100%;
	background-color: #331029de;
	color: white;
}

.booking:hover {
	background-color: #773965de;
}
.confirm-booking {
	color: white;
	background-color: #331029de;
}
/* General Styles */
body {
	font-family: Arial, sans-serif;
}

/* Card Styles */
.card-container {
	transition: transform 0.3s;
}

.card:hover {
	transform: scale(1.05);
}

/* Modal Styles */
.modal-content {
	padding: 2rem;
}

/* Responsive Styles */
@media (max-width: 767px) {
	.service-container {
		padding: 15px;
	}

	.card-container {
		margin-bottom: 20px;
	}

	.card-title {
		font-size: 1.1rem;
	}

	.booking {
		font-size: 0.9rem;
	}
	@media (min-width: 768px) and (max-width: 991px) {
		.card-container {
			margin-bottom: 30px;
		}

		.card-title {
			font-size: 1.2rem;
		}

		.booking {
			font-size: 1rem;
		}
	}

	@media (min-width: 992px) {
		.card-container {
			margin-bottom: 40px;
		}

		.card-title {
			font-size: 1.25rem;
		}

		.booking {
			font-size: 1rem;
		}
	}
}
