/* signin.css */

/* Form container styling */
/* Initial style for the form container */
.form-container {
	width: 100%;
	max-width: 500px;
	margin: 250px auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease-in-out; /* Smooth scaling */
}

/* Enlarge the form container on hover */
.form-container:hover {
	transform: scale(1.05); /* Slightly increase size on hover */
}

/* Enlarge the form container on mouse scroll */
.form-container:active {
	transform: scale(1.05); /* Slightly increase size on scroll */
}
/* Form styling */
form {
	display: flex;
	flex-direction: column;
}

/* Header styling */
form h2 {
	margin-bottom: 1.5rem;
	text-align: center;
}

/* Form group styling */
.form-group {
	margin-bottom: 1rem;
}

/* Label styling */
label {
	display: block;
	margin-bottom: 0.5rem;
}

/* Input styling */
input[type='email'],
input[type='password'] {
	width: 100%;
	padding: 0.5rem;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

/* Checkbox styling */
input[type='checkbox'] {
	margin-right: 0.5rem;
}

/* Error message styling */
.error {
	color: red;
	font-size: 0.875rem;
	margin-top: 0.5rem;
}

/* Button styling */
.btn-signin {
	display: block;
	width: 100%;
	padding: 0.75rem;
	background-color: #331029de;
	color: white;
	text-align: center;
	border: none;
	border-radius: 4px;
	margin-bottom: 1rem;
	text-decoration: none;
	cursor: pointer;
}

.btn-signin:hover {
	background-color: #331029de;
}
.account {
	margin-top: 0.5rem;
	text-align: center;
	padding: 0.75rem;
	color: #195cd8de;
	cursor: pointer;
	text-decoration: none;
	font-style: italic;
}

.account:hover {
	color: #195cd8de;
	text-decoration: underline;
}
/* forgot-password */
.forgot {
	display: block;
	text-align: right;
	margin-top: -10px;
	margin-bottom: 15px;
	color: #007bff;
	text-decoration: none;
	font-style: italic;
  }
  
  .forgot:hover {
	text-decoration: underline;
  }