/* Container styles */
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;

	padding: 20px;
}

/* Form styles */
.form {
	padding: 20px;
	border-radius: 8px;
	gap: 30px;
	width: 100%;
	max-width: 500px;
	border: 1px solid #ccc;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease-in-out; /* Smooth scaling */
}
.form h2{
	font-size: 20px;
	font-weight: 400px;
}
/* Input styles */
.input {
	width: 100%;
	padding: 10px;
	margin-bottom: 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
}

.inputError {
	border-color: #dc3545;
}

/* Button styles */
.button {
	width: 100%;
	padding: 10px;
	background-color: #331029de;
	color: #fff;
	border: none;
	border-radius: 4px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.button:hover {
	background-color: #461c3ade;
}

/* Error message styles */
.error {
	color: #dc3545;
	font-size: 14px;
	margin-bottom: 15px;
}

/* Success message styles */
.message {
	margin-top: 15px;
	color: #28a745;
	font-size: 14px;
}

/* Responsive styles */
@media (max-width: 480px) {
	.form {
		padding: 15px;
	}

	.input,
	.button {
		font-size: 14px;
		padding: 8px;
	}
}
