/* General Nav Styles */

.nav {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 10px 20px;
	background-color: #333;
	color: white;
	position: relative;
}

.logo img {
	display: block;
	max-width: 25%;
	height: auto;
	
}

/* Menu Styles */
.menu {
	display: flex;
	gap: 20px;
}

.menuItem {
	position: relative;
}

.menuLink {
	color: white;
	text-decoration: none;
	padding: 10px 15px;
	display: block;
}

.menuLink:hover {
	color: #444;
	border-radius: 5px;
}

.faicons {
	display: none;
	color: white;
	font-size: 24px;
	cursor: pointer;
}

/* Dropdown Styles */
.dropdown {
	display: none;
	position: absolute;
	background-color: #444;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	min-width: 150px;
	z-index: 1;
}

.dropdown a {
	color: white;
	padding: 10px 15px;
	text-decoration: none;
	display: block;
	white-space: nowrap;
}

.dropdown a:hover {
	background-color: #555;
}

/* Show dropdown on hover */
.menuItem:hover .dropdown {
	display: block;
}

/* Mobile Menu Styles */
.menuMobile {
	display: flex;
	flex-direction: column;
	gap: 10px;
	position: absolute;
	top: 60px;
	left: 0;
	right: 0;
	background-color: #333;
	padding: 10px 0;
}

.menuMobile .menuItem {
	text-align: center;
}

.menuMobile .menuLink {
	padding: 10px 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {
	.menu {
		display: none;
	}

	.faicons {
		display: block;
	}
	.nav {
		justify-content: space-evenly;
		align-items: flex-start;
	}
}
