/* signin.css */

/* Form container styling */
.form-container {
	background: #746d6d0c;
	padding: 50px;
	border-radius: 75px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	max-width: 600px;
	margin: 250px auto;
}

/* Form styling */
form {
	display: flex;
	flex-direction: column;
}

/* Header styling */
form h2 {
	margin-bottom: 1.5rem;
	text-align: center;
}

/* Form group styling */
.form-group {
	margin-bottom: 1rem;
}

/* Label styling */
label {
	display: block;
	margin-bottom: 0.5rem;
}

/* Input styling */
input[type='email'],
input[type='password'] {
	width: 100%;
	padding: 0.5rem;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

/* Checkbox styling */
input[type='checkbox'] {
	margin-right: 0.5rem;
}

/* Error message styling */
.error {
	color: red;
	font-size: 0.875rem;
	margin-top: 0.5rem;
}

/* Button styling */
.btn-signin {
	display: block;
	width: 100%;
	padding: 0.75rem;
	background-color: #331029de;
	color: white;
	text-align: center;
	border: none;
	border-radius: 4px;
	margin-bottom: 1rem;
	text-decoration: none;
	cursor: pointer;
}
.account {
	margin-top: 0.5rem;
	text-align: center;
	padding: 0.75rem;
	/* border: 1px solid #331029de; */
	/* background-color: #807e7e; */
	color: #195cd8de;
	cursor: pointer;
	text-decoration: none;
	font-style: italic;
}

.btn-signin:hover {
	background-color: #8b8a8a;
}
.account:hover {
	color: #195cd8de;
}
/* forgot-password */
.forgot {
	text-decoration: none;
	font-style: italic;
	color: #195cd8de;
	font-size: 16px;

}

.lowerdiv {
	text-align: center;
	margin: 40px 0;
}

.lowerdiv .text {
	font-size: 18px;
	margin-bottom: 20px;
}

.lowerdiv .button {
	display: inline-block;
	background-color: #331029de;
	color: #fff;
	padding: 10px 20px;
	text-decoration: none;
	border-radius: 4px;
}

.lowerdiv .button:hover {
	background-color: #331029de;
}

/* Footer styling */
.footer {
	background-color: #333;
	color: white;
	padding: 1rem 0;
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.footer-content {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.footer-section {
	margin-bottom: 1rem;
}

.footer-section h3 {
	margin-bottom: 0.5rem;
}

.footer-section p,
.footer-section ul {
	margin: 0;
}

.footer-section ul {
	list-style: none;
	padding: 0;
}

.footer-section ul li {
	margin-bottom: 0.5rem;
}

.footer-section ul li a {
	color: white;
	text-decoration: none;
}

.footer-section ul li a:hover {
	text-decoration: underline;
}

.footer-section .social-icons {
	display: flex;
	gap: 0.5rem;
}

.footer-bottom {
	margin-top: 1rem;
}
