/* Container Styles */
.user-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
}

/* Card Styles */
.user-card {
  padding: 2rem;
  width: 100%;
  max-width: 1400px;
  border-radius: 0.5rem;
  background-color: #ffffff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

/* Heading Styles */
.user-card h2 {
  margin-bottom: 1.5rem;
  font-size: 1.75rem;
  font-weight: 500;
  color: #343a40;
}

/* Paragraph Styles */
.user-card p {
  margin-bottom: 1.5rem;
  font-size: 1rem;
  color: #6c757d;
}

/* Button Styles */
.user-card .btn {
  margin-bottom: 1rem;
  width: 100px;
}

/* Table Styles */
.user-card .table {
  margin-top: 1rem;
}

.user-card .table thead {
  background-color: #343a40;
  color: #ffffff;
}

.user-card .table tbody tr:hover {
  background-color: #f1f1f1;
  font-size: large;
}

.user-card .btn-primary {
  margin-right: 0.5rem;
}
.user-card .btn-danger {
  margin-left: 0.5rem;
}

/* Responsive Styles */
@media (max-width: 576px) {
  .user-card {
    padding: 1rem;
  }

  .user-card h2 {
    font-size: 1.5rem;
  }

  .user-card p {
    font-size: 0.875rem;
  }
}
/* Footer.css */
.footer {
  background: #333;
  color: #fff;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
}

.footer-section {
  flex: 1;
  padding: 10px 20px;
}

.footer-section h3 {
  margin-bottom: 10px;
}

.footer-section p,
.footer-section ul,
.footer-section a {
  color: #ccc;
  text-decoration: none;
  margin: 5px 0;
}

.footer-section ul {
  list-style-type: none;
}

.footer-section a:hover {
  color: #fff;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-right: 10px;
  font-size: 20px;
  color: #ccc;
  text-decoration: none;
}

.footer-bottom {
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #444;
}
